
<script src="https://kit.fontawesome.com/2d70eef2e9.js" crossorigin="anonymous"></script>

<div class="container">
  <div>
    <button (click)="add()">
      Add
    </button>
  </div>
    <header class="jumbotron">
      <ng-container *ngFor="let course of courses;">
        {{course.id}} - {{course.courseName}}
        <button (click)="delete(course.id)">
          <i class="far fa-trash-alt"></i>
        </button> 
        <button (click)="edit(course.id)">
          <i class="fas fa-edit"></i>
        </button>
        <br>
      </ng-container>
    </header>
  </div>

  